<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true">
		<intercept-url pattern="/addForm" access="ROLE_ADMIN" />
		<intercept-url pattern="/editForm" access="ROLE_ADMIN" />
		<intercept-url pattern="/delete" access="ROLE_ADMIN" />
		<http-basic />
	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="sha-256" />
			<jdbc-user-service data-source-ref="BoneCPDataSource"
				users-by-username-query="SELECT username,password,enabled from users where username=?"
				authorities-by-username-query="SELECT users_username, role
FROM `computer-database-db`.`user_roles` left outer join role on id_role=role_id_role where users_username =?;" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>